<%- include('partials/header.ejs') %>

<div class="back">
    <h6>⇠Back</h6>
</div>

<div class="alert">
    <div class="td">
        <p><%= alert %></p>
    </div>
</div>


<%- include('partials/footer.ejs') %>